// put global styles here
* {
  font-family: 'Lato', sans-serif;
}

$brandPrimary: map_get($Colors, brandPrimary);
$brandPrimaryShade: map_get($Colors, brandPrimaryShade);
$brandSecondary: map_get($Colors, brandSecondary);
$brandGreen: map_get($Colors, brandGreen);
$brandRed: map_get($Colors, brandRed);
$stripe: map_get($Colors, stripe);
$silver: map_get($Colors, silver);
$brandNearBlack: map_get($Colors, brandNearBlack);
$black: map_get($Colors, black);
$darkGray: map_get($Colors, darkGray);
$moonGray: map_get($Colors, moonGray);
$lightGray: map_get($Colors, lightGray);
$nearWhite: map_get($Colors, nearWhite);
$white: map_get($Colors, white);
$mediumRed: map_get($Colors, mediumRed);
$darkRed: map_get($Colors, darkRed);


button,
input {
  &:focus {
    outline: 0;
  }
}
::-webkit-input-placeholder {
  color: rgb(203, 210, 205);
}

.list-hover {
  &:hover {
    background-color: $lightGray !important;
  }
}

.hov-transparent:hover {
  opacity: 0.75;
}


.brand-primary {
  color: $brandPrimary;
}

.brand-primary-shade {
  color: $brandPrimaryShade;
}

.near-white {
  color: $nearWhite
}

.bg-brand-primary {
  background-color: $brandPrimary;
}

.bg-brand-secondary {
  background-color: $brandSecondary;
}

.bg-brand-green {
  background-color: $brandGreen;
}

.bg-brand-red {
  background-color: $brandRed;
}

.bg-brand-near-black {
  background-color: $brandNearBlack
}

.bg-near-white {
  background-color: $nearWhite
}

.brand-secondary {
  color: $brandSecondary;
}

.brand-near-black {
  color: $brandNearBlack
}


.brand-red {
  color: $brandRed;
}

.brand-green {
  color: $brandGreen
}

.stripe {
  color: $stripe
}

.moon-gray {
  color: $moonGray;
}

.bg-moon-grey {
  background: $moonGray;
}


.bg-light-grey {
  background: $lightGray;
}

.hov-primary:hover {
  background: $brandPrimary;
}

.rounded-profile {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  align-self: center;
  z-index: 1;
}

.rectangle-profile {
  border-radius: 0%;
  height: 200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  align-self: center;
  z-index: 1;
}

.abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.pointer-none {
  pointer-events: none;
}

.hov-image-uploader {
  background-color: white;
}

.hov-image-uploader:hover {
  background-color: $brandPrimary;
}

.list-alt-color-rows {
  background-color: $white;
}
.list-alt-color-rows:nth-child(odd) {
  background-color: $nearWhite;
}

.list-alt-color-rows:nth-child(even) {
  background-color: $white;
}

.hov-danger:hover {
  background-color: $darkRed;
}

.hov-danger-font:hover {
  color: $darkRed;
}

.hov-green:hover {
  background-color: $brandGreen;
}

.brand-near-black {
  color: $brandNearBlack;
}

.white-placeholder input::-webkit-input-placeholder {
  color: white;
}
.white-placeholder input::-moz-placeholder {
  color: white;
}
.white-placeholder input:-ms-input-placeholder {
  color: white;
}
.white-placeholder input:-moz-placeholder {
  color: white;
}
.half-circle {
  height: 2rem;
  width: 1rem;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}

.steps {
  border-radius: 4px;
}

.step-1 {
  border-radius: 4px 0 0 4px;
}

.step-2 {
  border-radius: 0 4px 4px 0;
}

.single-line-textarea {
  textarea {
    resize: none;
    border: none;
    border-bottom: 2px solid $moonGray;
    width: 100%;
  }
}

.block-textarea {
  textarea {
    resize: none;
    border: 1px solid $moonGray;
    width: 100%;
    min-height: 60px;
    border-radius: 4px;
  }
}

textarea:focus {
  outline: none;
}

.block-textarea-quill {
    resize: none;
    border: 1px solid $moonGray;
    width: 100%;
    min-height: 100px;
    border-radius: 4px;
}

.checkbox {
  -webkit-appearance: none;
  background-color: $lightGray;
  border-radius: 4px;
  border: none;
  width: 1rem;
  height: 1rem;
}

.checkbox:checked {
  background-color: $brandGreen;
}

.brand-green {
  color: $brandGreen;
}

.b--brand-green {
  border: 1px solid $brandGreen;
}

.b--brand-primary {
  border: 1px solid $brandPrimary;
}

.b--near-white {
  border: 1px solid $nearWhite;
}

.bb--near-white {
  border-bottom: 1px solid $nearWhite;
}

.rounded-children-block {
  border: 1px solid $lightGray;
}

.rounded-children-block:first-child {
  border-radius: 4px 4px 0px 0px;
}

.rounded-children-block:last-child {
  border-radius: 0px 0px 4px 4px;
}

.green-glow {
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.b--green-glow {
  -webkit-animation-name: borderGreenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.w-95 {
  width: 95%;
}

.circle-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $brandGreen;
  position: relative;
  i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.text-center {
  text-align: center;
}

.searchContainer {
  display: inline-flex;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.searchIcon {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 0%
}

.searchBox {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: 1;
  border-style: unset;
  border-color: transparent;
}

input {
  font-size: 14px;
}

/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #fff;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.dropdown {
  position: relative;
  display: flex;
  height: 3em;
  line-height: 3;
  background: #999999;
  overflow: hidden;
  border-radius: .25em;
}
select {
  flex: 1;
  padding: 15px;
  color: #000;
  cursor: pointer;
}
/* Arrow */
.dropdown::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #ffffff;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
  color: #999999;
}
/* Transition */
.dropdown:hover::after {
  color: #333;
}
