// put global styles here
* {
  font-family: 'Lato', sans-serif;
}

$brandPrimary: map_get($Colors, brandPrimary);
$brandPrimaryShade: map_get($Colors, brandPrimaryShade);
$brandSecondary: map_get($Colors, brandSecondary);
$brandGreen: map_get($Colors, brandGreen);
$brandRed: map_get($Colors, brandRed);
$silver: map_get($Colors, silver);
$brandNearBlack: map_get($Colors, brandNearBlack);
$black: map_get($Colors, black);
$darkGray: map_get($Colors, darkGray);
$moonGray: map_get($Colors, moonGray);
$lightGray: map_get($Colors, lightGray);
$nearWhite: map_get($Colors, nearWhite);
$white: map_get($Colors, white);
$mediumRed: map_get($Colors, mediumRed);
$darkRed: map_get($Colors, darkRed);


button,
input {
  &:focus {
    outline: 0;
  }
}
::-webkit-input-placeholder {
  color: rgb(203, 210, 205);
}

.list-hover {
  &:hover {
    background-color: $nearWhite !important;
  }
}

.hov-transparent:hover {
  opacity: 0.75;
}


.brand-primary {
  color: $brandPrimary;
}

.bg-brand-primary {
  background-color: $brandPrimary;
}

.brand-secondary {
  color: $brandSecondary;
}

.brand-red {
  color: $brandRed;
}

.moon-grey {
  color: $moonGray;
}

.bg-moon-grey {
  background: $moonGray;
}


.bg-light-grey {
  background: $lightGray;
}

.hov-primary:hover {
  background: $brandPrimary;
}

.rounded-profile {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  align-self: center;
  z-index: 1;
}

.abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.pointer-none {
  pointer-events: none;
}

.hov-image-uploader {
  background-color: $silver;
}

.hov-image-uploader:hover {
  background-color: $brandPrimary;
}

.list-alt-color-rows {
  background-color: $white;
}
.list-alt-color-rows:nth-child(odd) {
  background-color: $nearWhite;
}

.list-alt-color-rows:nth-child(even) {
  background-color: $white;
}

.hov-danger:hover {
  background-color: $darkRed;
}

.brand-near-black {
  color: $brandNearBlack;
}
